body {
  background-color: rgb(96, 96, 235);
}

#cookie {
  width: 200px;

  display: flex;
  margin: auto;
}

h1,
h3 {
  text-align: center;
}

p {
  width: 100px;

  margin: auto;
}

button {
  margin: auto;
  width: 100px;
  display: flex;
  align-items: center;
}
